RL_REPO=/home/jordan/code/RL
FIGHT_CAVES_RL_REPO=/home/jordan/code/fight-caves-RL
RSPS_REPO=/home/jordan/code/RSPS
PYTHON_BASELINE=3.11
PUFFERLIB_VERSION=3.0.0
WANDB_PROJECT=fight-caves-rl
WANDB_MODE=offline

