RL_REPO=/home/jordan/code/RL
FIGHT_CAVES_RL_REPO=/home/jordan/code/fight-caves-RL
RSPS_REPO=/home/jordan/code/RSPS
PYTHON_BASELINE=3.11
PUFFERLIB_DISTRIBUTION=pufferlib-core
PUFFERLIB_VERSION=3.0.17
WANDB_PROJECT=fight-caves-rl
WANDB_ENTITY=
WANDB_GROUP=smoke
WANDB_MODE=offline
WANDB_RESUME=allow
WANDB_RUN_PREFIX=fc-rl
WANDB_TAGS=fight-caves,rl
WANDB_DIR=/home/jordan/code/RL/artifacts/wandb
WANDB_DATA_DIR=/home/jordan/code/RL/artifacts/wandb-data
WANDB_CACHE_DIR=/home/jordan/code/RL/artifacts/wandb-cache
